In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.content, "html.parser")

In [5]:
tables = soup.find_all('table')

In [6]:
my_table = tables[0]

In [7]:
rows = my_table.findChildren(['th', 'tr'])

In [8]:
l = []
for tr in rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighbourhood"])

In [9]:
#cleanup data frame
df = df.dropna()
df = df[df.Borough != 'Not assigned']
df = df.replace('\n','', regex=True)

In [10]:
df = df.groupby(['Postcode','Borough'], sort=False).agg( ','.join)

In [11]:
df.reset_index(inplace = True)

In [12]:
df[df.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Not assigned

In [13]:
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [14]:
df[df.Postcode == 'M7A']

  Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Queen's Park

In [15]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [16]:
df.shape

(103, 3)